<div id="listaCorrida">
  <h1> Corridas Cadastradas </h1>

  <!-- se corrida = 0 .... -->
  @if(corridas().length === 0) {
    <p> Nenhuma corrida cadastrada! </p>
  } @else {
    <div class="lista-corrida">
      <table>
        <thead>
          <tr>
            <th> Descrição </th>
            <th> Data </th>
            <th> Distâncias </th>
            <th> Ação </th>
          </tr>

        </thead>

        <tbody>
          @for(corrida of corridas(); track corrida.idCorrida) {
            <tr>
              <td> {{corrida.descricao}} </td>
              <td> {{corrida.data | date: 'dd/MM/yyyy'}} </td>
              <td> {{corrida.distancias.join(', ')}} km </td>

              <td>
                <div class="acoes">
                  <button type="button" class="btnInscrever" (click)="inscrever(corrida.idCorrida)"> Inscrever-se </button>
                  <button type="button" class="btnEditar" (click)="editarCorrida(corrida.idCorrida)"> Editar </button>
                  <button type="button" class="btnRemover" (click)="apagarCorrida(corrida.idCorrida)"> Apagar </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>