<div id="div-form">
  <h2>Cadastrar Corrida</h2>
  <form id="form-corrida" (ngSubmit)="salvarCorrida()">
    <label for="descricao"> Descrição da corrida: </label>
    <input type="text" id="descricao" [(ngModel)]="descricao" name="descricao" required>

    <label for="data"> Data: </label>
    <input type="date" id="data" [(ngModel)]="data" name="data" required>

    <label> Distâncias Disponíveis (km): </label>
    <div class="checkbox-group">
      <label class="opcao-checkbox">
        <input type="checkbox" id="5km" [(ngModel)]="dist5" name="dist5" class="btnSelecao"> 5 km
      </label>
      <label class="opcao-checkbox">
        <input type="checkbox" id="10km" [(ngModel)]="dist10" name="dist10" class="btnSelecao"> 10 km
      </label>
      <label class="opcao-checkbox">
        <input type="checkbox" id="25km" [(ngModel)]="dist25" name="dist25" class="btnSelecao"> 25 km
      </label>
    </div>

    <div id="btns">
      <button type="submit"> Cadastrar </button>
      <button type="reset"> Limpar </button>
    </div>

  </form>

</div>